.main-content {
    grid-area: 2 / 2 / 3 / 3;

    display: grid;
    grid-template: 1fr / 3fr 1fr;
    background: var(--color-background);

    & .projects {
        padding: 1rem;

        & h2 {
            margin-bottom: 1rem;
            font-size: 1.2rem;
            font-weight: 500;
        }

        & .project-cards {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            grid-auto-rows: 200px;
            gap: 20px;

            & .card {
                padding: 10px 20px;
                background-color: var(--color-white);
                border-radius: 10px;
                border-left: 5px solid var(--color-accent);
                box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.1);

                & p {
                    font-size: 0.9rem;
                    color: var(--color-text-secondary);
                }

                & div {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    height: 100%;

                    & .card__options {
                        display: flex;
                        flex-direction: row;
                        justify-content: end;
                        align-self: end;
                        gap: 1rem;
                        height: 22px;

                        & img {
                            width: 22px;
                            height: 22px;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }


    & .news {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 15px;

        & .announcements {
            & h3 {
                margin-bottom: 1rem;
                font-size: 1.2rem;
                font-weight: 500;
            }

            & .announcements__board {
                padding: 10px 20px;
                background-color: var(--color-white);
                border-radius: 10px;
                box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.1);

                & .announcement {
                    margin-bottom: 10px;
                    padding-bottom: 10px;
                    border-bottom: 2px solid var(--color-background);
                    border-radius: 4px;

                    & h4 {
                        font-size: 0.9rem;
                    }

                    & p {
                        font-size: 0.8rem;
                        color: var(--color-text-secondary);
                    }
                }

                & .announcement:last-child {
                    border: none;
                }
            }
        }

        & .trendings {
            & h3 {
                margin-bottom: 1rem;
                font-size: 1.2rem;
                font-weight: 500;
            }

            & .trendings__board {
                display: flex;
                flex-direction: column;
                gap: 10px;
                padding: 10px 20px;
                background-color: var(--color-white);
                border-radius: 10px;
                box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.1);

                & .profile {
                    display: flex;
                    align-items: center;
                    gap: 1rem;

                    & img {
                        width: 36px;
                        height: 36px;
                        border-radius: 100%;
                    }

                    & div {
                        & a {
                            font-size: 0.9rem;
                            font-weight: 500;
                            color: #000;
                        }

                        & p {
                            font-size: 0.8rem;
                            color: var(--color-text-secondary);
                        }
                    }
                }
            }
        }
    }
}
