html {
  --color-primary: #2196F3;
  --color-accent: #FBC02D;
  --color-background: #F5F7FA;
  --color-white: #FFFFFF;
  --color-text-main: #212121;
  --color-text-secondary: #757575;
  --color-button: #03A9F4;
}
